  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="{{ .Permalink }}">
        <img class="card-img-top" 
          {{ if .Params.thumb }}
             src="/images/{{ .Params.thumb }}" 
          {{ else }}
             src="http://placehold.it/700x400"
          {{ end }}
        alt=""></a>
      <div class="card-body">
        <h3 class="card-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
        <p class="card-text">{{ .Params.description }}</p>
      </div>
    </div>
  </div>
