<script type="text/javascript">
  $( document ).ready(function() {

	var width = $('#content').width();

	jQuery('#beam-camera').camera({
		width: width + 'px',
		height: parseInt(width * 0.75) + 'px',
		pagination: true,
		thumbnails: false,
		navigation: true,
		autoAdvance: false,
		loader: 'bar',
		fx: 'scrollHorz'
	});


	jQuery('#skynet-camera').camera({
		width: width + 'px',
		height: parseInt(width * 0.75) + 'px',
		pagination: true,
		thumbnails: false,
		navigation: true,
		autoAdvance: false,
		loader: 'bar',
		fx: 'scrollHorz'
	});

	jQuery('#thorloki-camera').camera({
		width: width + 'px',
		height: parseInt(width * 0.75) + 'px',
		pagination: true,
		thumbnails: false,
		navigation: true,
		autoAdvance: false,
		loader: 'bar',
		fx: 'scrollHorz'
	});
  });
</script>

<h2>{{ .Title }}</h2>
<ul>
  <li>Type: {{ .Params.robot_type }}</li>
  <li>Application: {{ .Params.application }}</li>
  <li>Organization: 
	{{ if .Params.org_link }} 
	  <a href="{{ .Params.org_link }}"> 
	{{ end }}
	{{ .Params.org_name }}
	{{ if .Params.org_link }} 
	  </a> 
	{{ end }}

	{{ if .Params.org_github }} 
	  (<a href="{{ .Params.org_github }}">GitHub</a>)
	{{ end }}
  
  </li>
</ul>

<h3>Personal Involvement</h3>
<ul>
  <li>Personal Role: {{ .Params.role }}</li>
  <li>Timeframe: {{ .Params.timeframe }}</li>
</ul>

<p>
{{ .Content }}
</p>
